@import '../../styles/global.scss';

.success-message, .error-message {
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    width: 100%;
    margin-top: 0.5em;
    color: $color-status-success;
}

.error-message {
    color: $color-status-error;
}

.recaptcha {
    max-width: 6em;
    max-height: 4em;
    justify-self: flex-end;
}