@import '../../styles/global.scss';

// .header {
//     background-color: $main-accent-color;
//     margin-bottom: 1.45rem;
// }
// .container {
//     margin: 0 auto;
//     max-width: 1120px;
//     padding: 1.45rem 1.0875rem;
//     @media only screen and (min-width: 800px) {
//         h1 { text-align: left; }
//     }
// }
// .link {
//     color: $color-light;
//     text-decoration: none;    
// }
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 56px;
	// background-color: $main-accent-color;
	// background-color: $blue-pantone;
	background-color: $color-light;
	z-index: 1000;
	padding-top: 2em;
	padding-bottom: 2em;
}

.header-nav {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	padding-left: 6rem;
	padding-right: 6rem;
	// margin: 0 auto;
	// max-width: 1120px;

	@media only screen and (max-width: 768px) {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}
.header-logo {
    display: flex;
    align-items: center;
	width: 6em;
	height: 3em;
}
.header-logo:hover {
	cursor: pointer;
}
.header-logo a {
	color: white;
	text-decoration: none;
	font-size: 1.5rem;
}

.spacer {
	flex: 1;
}
.header-nav-items ul {
	list-style: none;
	margin: 0;
	padding: 0;
    display: flex;
}
.header-nav-items li {
    padding: 0 0.5rem;
    margin-bottom: 0;
}

.header-nav-items a, .header-nav-items p {
	color: $sub-color-grey-five;
	text-decoration: none;
	background-color: none;
}
.header-nav-items a:hover,
.header-nav-items a:active,
.header-nav-items p:hover,
.header-nav-items p:active {
	cursor: pointer;
	// color: $link-hover-color;
	color: $eerie-black-light-4;
}

// @media only screen and (max-width: 768px) {
// 	.header-nav-items {
// 		display: none;
// 	}
// }
@media only screen and (min-width: 768px) {
	// .header-toggle-button {
	// 	display: none;
	// }

	.header-logo {
		margin-left: 0;
	}
}
