@import '../../styles/global.scss';

.header {
    background-color: $main-accent-color;
    margin-bottom: 1.45rem;
}
.container {
    margin: 0 auto;
    max-width: 1120px;
    padding: 1.45rem 1.0875rem;
    @media only screen and (min-width: 800px) {
        h1 { text-align: left; }
    }
}
.link {
    color: $color-light;
    text-decoration: none;    
}